<div class="bulb">
	<p>Try to complete some of this task, maybe you`ll learn something new and you definitely get some fun.</p>
	<p style="padding-top:5px"><em><small>Just find and correct <span class="red">2 tiny mistakes</span> in qoute below.</small></em></p>
	<div class="b top"></div>
	<div class="b bottom"></div>
</div>