<div class="tasksHeader__tasksRibbon">
	TASK
	<div class="taskCount__tasksRibbon"><%= @task.id %><span class="tasksSlash__tasksRibbon">/</span><span class="tasksNumber__tasksRibbon"><%= Task.count %></span>
	</div>
</div>	
	 