<div class="ribbonHeader">
	TASK
	<div class="ribbonCounter"><span class="ribbonCurrentNumber"><%= render 'layouts/currentTaskNumber' %></span><span class="ribbonSlash">/</span><span class="ribbonNumber"><%= Task.count %></span>
	</div>
</div>